a{
	color:gray;
	-webkit-text-stroke:1.5px blue;
}
html{
	overflow-x:hidden;
}
body{
	background-color:black;
}
h1{
	letter-spacing:6px;
	font-size:50px;
	-webkit-text-stroke:3px blue;
}
#dropdownContent{	
	position:absolute;
	top:100px;
	left:30%;
	display:block;
	z-index:1;
}
.garage{
	background-color:black;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	width:100%;
	height:100px;
	margin:1px;
	border: 3px inset black;
	animation: move 2s;
}
@keyframes move{
	0%{height:650px; bottom:0px;background-color:gray;color:black;}
	50%{height:650px; bottom:0px;background-color:gray;color:black;}
}
#garageText{
	-webkit-text-stroke:3px blue;
	position:absolute;
	top:15%;
	left:35%;
	font-size:70px;
	animation:erase 1s;
	opacity:0;
	color:black;
}
@keyframes erase{
	0%{opacity:1;}
	90%{opacity:1;}
	95%{opacity:.6;}
	100%{opacity:0;}
}
#team{		background-image:url("http://www.theartof.com/assets/images/articles/inside-appleFlicker.jpg");
	position:absolute;
	left:0%;
	top:20%;
	height:450px;
	width:100%;
	z-index:-2;
	text-align:center;
	border-bottom:6px solid black;
	background-repeat:no-repeat;
	background-size:1325px 450px;
	margin:0;
}
img{
	opacity:.3;
}
h3{
	text-align:center;
	font-size:30px;
}
#jobs{
	position:absolute;
	bottom:5%;
	z-index:-2;
	width:50%;
	height:12%;
	left:0%;
	background-color:black;
	transition: height .5s;
	border:3px solid black;
	-webkit-text-stroke:3px blue;
}
#jobs:hover{
	height:75%;
	-webkit-text-stroke:.5px white;
	background-color:black;
	letter-spacing:.3em;
}
#jobs:hover #jobsText{
	display:block;
}
#jobsText{
	display:none;
}
#woz{
	position:absolute;
	bottom:5%;
	z-index:-2;
	width:50%;
	height:12%;
	left:50%;
	background-color:black;
	transition: height .5s;
	border:3px solid black;
	text-align:center;
	-webkit-text-stroke:3px blue;
}
#woz:hover{
	height:75%;
	-webkit-text-stroke:.5px white;
	background-color:black;
	letter-spacing:.3em;
}
#woz:hover #wozText{
	display:block;
}
#wozText{
	display:none;
}
#more{
	position:absolute;
	top:700px;
	left:7%;
	z-index:-3;
	color:gray;
	background-color:black
	height:250px;
	width:50%;
	border:3px solid black;
	margin:0;
	font-size:17px;
}
h2{
	font-size:35px;
}
#jobs:hover h3{
	-webkit-text-stroke:5px white;
}
#woz:hover h3{
	-webkit-text-stroke:5px white;
}
#crew{
	position:absolute;
	top:875px;
	left:47%;
	z-index:-3;
	color:blue;
	background-color:black;
	height:250px;
	width:50%;
	border:3px solid black;
	margin:0;
	font-size:17px;
	padding:2px;
}




